h1 {
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    margin-block: 10vh;
}

.card {
    position: relative;
    display: block;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5vh;
}

.card-title {
    padding-block: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

