{% extends 'base.html' %}
{% load static %}
{% block title %}
    Blogs
{% endblock %}
{% block external_links %}
    <link rel="stylesheet" href="{% static 'blogs/css/blogs.css' %}">
{% endblock %}
{% block content %}
    <h1>Explore the Latest Blogs
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-card-heading"
             viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"></path>
            <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z"></path>
        </svg>
    </h1>


    <div class="cards-wrapper container">
        {% for blog in blogs %}

            <div class="card glowing" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ blog.author_id }}</h6>
                    <p class="card-text">{{ blog.created_at }}</p>
                    <a href="{% url 'blog_info' blog.id %}" class="btn btn-outline-dark">Read</a>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}